.stab
  %button.tablinks.active{:onclick => "openTab(event, 'manage')"} Manage Questions
  %button.tablinks{:onclick => "openTab(event, 'scores')"} View Scores
%div#manage.stabcontent
  = render "admin/questions/manage", questions: @questions&.top_recent
%div#scores.stabcontent
  = render "admin/questions/scores", users: User.not_admin.limit(5), questions: Question.active.size


 
