//boostrap-sprockets
@import "bootstrap-sprockets";
@import "bootstrap";
@import "modules/buttons";

.container {
  margin-top: 7em;
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;	
}
